{% extends "base.html" %}
<body>
  {% block content %}

  <h1>Current Weather Conditions</h1>
  <form class="form-inline" action="" method="POST">
    <div class="form-row">
    <div class="form-group">
      <label for="exampleInputName2">What city would you like the weather for?</label>
      <input type="text" class="form-control" name="cityname" placeholder="Enter a city">
    </div>
  </div>
    <div class="form-row">
    <button type="submit" class="btn btn-primary">Give me the weather</button>
  </div>
  </form>

  {% endblock %}




</body>
